.wtrp-selected-td {
  padding: 0 10px!important;

  .tip-text {
    color: #999;
  }

  .wtrp-clearfix:before {
    content: " ";
    display: table;
  }

  .wtrp-clearfix:after {
    content: " ";
    display: table;
    clear: both;
  }

  .wtrp-selected-td__selected-time {
    text-align: left;
    line-height: 1;
  }

  a {
    cursor: pointer;
    color: #598fe6; 
  }
}